/* @file global.styles  Styles you add here will load for all device sizes, they are "global", as opposed to "responsive" styles, which only load for a given breakpoint (media query) that you set in theme settings. See the README for more details.   How to use this file: --------------------  There are many empty selectors and some basic styles to act as a guide. Nothing is set in stone and you can change anything - even delete all of it and start with your own clean slate.  To FORCE PRINT all selectors you can search and replace a single { (opening curly brace) and insert an empty comment. This is very useful in conjuction with FireSass: https://addons.mozilla.org/en-US/firefox/addon/firesass-for-firebug/  See global.base also which includes normalize.css and some additional helper classes and base styles. */
/* ============================================================================= Base ========================================================================== */
/* To preserve theme settings never apply font properties to the HTML element. This is critically important if you are using the Responsive JavaScript feature as this relies on being able to set a pseudo font family on the HTML element. If you need to set default font properties of any kind use the BODY element as these can be overridden using font theme settings. */
html { background: #202020; }

body { font-family: Arial, Helvetica, sans-serif; font-size: 15px; }

body, a { color: white; }

#content a, .region a, #primary-menu-bar a, #secondary-menu-bar a, #footer a { text-decoration: none; }

/* ============================================================================= HTML Elements ========================================================================== */
h2 { text-transform: uppercase; color: rgba(255, 255, 255, 0.3); font-weight: normal; font-size: 16px; }

pre, code, tt, samp, kbd, var { font-family: Consolas, Monaco, "Courier New", Courier, monospace, sans-serif; }

/* ============================================================================= Wrappers ========================================================================== */
/* Outer wrappers: - #page-wrapper: body > #page-wrapper - #page: body > #page-wrapper > #page - .container: body > #page-wrapper > #page.container  The .container class holds the page width value from theme settings. You can style the .container class but do not add width such as border, padding, margins etc. */
/* Wraps all header elements - branding and .region-header */
#header, #breadcrumb { background: rgba(85, 85, 85, 0.2); margin: 0 10px; }

#menu-bar { margin: 0 10px; }

/* Wraps the sidebars the content column */
/* Main content column wrapper */
/* Wraps the main-content-header, the content region and feed-icons. Use this wrapper to style the entire main content column */
/* Wraps the content region, avoid applying styles to this wrapper, its used mainly for position and invisible gutters and can be problematic to style */
#content .block .node { background: rgba(32, 32, 32, 0.7); box-sizing: border-box; box-shadow: 0 0 7px rgba(0, 0, 0, 0.4); border: 1px #111111 groove; padding: 10px; }

/* Footer wrapper */
/* Panels may need additional margin wrangling when in the $content region */
/* Full Width Wrappers These are used in the optional page--full-width-wrappers.tpl.php template. All have internal .container classes. In the full width wrapper template the .container classes set the width or max-width - you can style this but never add any width/margin/padding/borders etc to .container */
/* Wraps the leaderboard */
/* Wraps the header */
#header-wrapper { /* Debug styles, is this working */ background: rgba(255, 192, 203, 0.5); }

/* Wraps the nav elements */
/* Wraps breadcrumb */
/* Wraps messages and help */
/* Wraps the secondary content/preface region */
/* Wraps the main content column */
/* Wraps the tertiary content/postfix region */
/* Footer wrapper */
#footer-wrapper { /* Debug styles, is this working? */ background: rgba(255, 192, 203, 0.5); }

/* ============================================================================= Branding ========================================================================== */
/* Wraps all the branding elements, logo, name and slogan */
/* Logo */
#logo { padding: 10px 0; float: left; }
#logo img { vertical-align: bottom; }

/* Wrapper for the site name and slogan */
#name-and-slogan { float: left; margin: 15px 10px 10px; }

/* Site name (h1) */
#site-name { margin: 0; }
#site-name a:link, #site-name a:visited { text-decoration: none; color: #0066cc; }
#site-name a:hover, #site-name a:focus { text-shadow: 0px 0px 3px #0066cc; color: #00b6ff; }

/* Site slogan (h2) */
#site-slogan { margin: 0; }

/* ============================================================================= Page content header ========================================================================== */
/* Main content header wraps the page title, tabs and actions links */
/* The main page title (h1) */
#page-title { margin: 0 0 20px; }

/* ============================================================================= Misc Global Styles ========================================================================== */
/* Feed icons */
/* Aggregator feed source */
#aggregator .feed-source .feed-icon { display: inline; float: none; margin-right: 10px; }

.feed-details dt, .feed-details dd { display: inline; margin: 0; }

/* Generic styles for the more link */
/* Generic styles for links. See the ul.links declaration in node and comment stylesheets */
ul.links { margin: 0; padding: 0; }
ul.links.inline { display: block; }
ul.links li { display: inline; list-style: none; padding: 0 10px 0 0; }

/* Search results are an ordered list so reset the margin */
.search-results { margin: 0; padding: 0; }

/* Attribution message and link */
.attribution { display: block; opacity: 0.65; padding: 1em 0; text-align: center; }
.attribution a { text-decoration: none; color: inherit; }
.attribution a:hover, .attribution a:focus { text-decoration: underline; }

/* ============================================================================= Regions ========================================================================== */
/* Standard region wrapper, don't add width to any regions, you will bork the layout - no margin, padding or borders etc */
/* Regions have an inner div - perfect for adding margin, padding or borders */
.region-inner { margin-right: 10px; }

/* Regions can be nested, such as when using Panels */
/* Header region, embedded in the #header */
/* Generally used to output Drupals help block, if the help module is enabled */
.region-help { margin-left: 10px; }

/* Secondary content */
/* Sits above the main content header, like a content-top region */
/* Sits below the main content, like a content-bottom region */
/* Sidebars - targets both */
/* First sidebar */
/* Second sidebar */
/* Tertiary content */
/* Footer region */
/* ============================================================================= Links ========================================================================== */
a { text-decoration: none; color: #00b6ff; }
a:hover, a:focus { text-decoration: none; color: rgba(255, 255, 255, 0.7); }

/* ============================================================================= Primary, Secondary and Menu Bar region menus ========================================================================== */
.nav { clear: both; margin: 0; }
.nav ul, .nav ul.menu { margin: 0; padding: 0; }
.nav li, .nav ul.menu li { display: inline; float: left; list-style: none; margin: 0; padding: 0; }
.nav li a, .nav ul.menu li a { display: block; white-space: nowrap; padding: 0 10px; }
.nav .block { margin-bottom: 0; }

/* ============================================================================= TB Mega Menu ========================================================================== */
/*
#menu-bar.nav .block-tb-megamenu { float: right; height: 0px;   .tb-megamenu { bottom: 80px; }
}*/
/* ============================================================================= Superfish ========================================================================== */
#menu-bar { float: right; height: 0px; }
#menu-bar .block-superfish { bottom: 38px; position: relative; }

ul.sf-menu { margin-bottom: 0; }
ul.sf-menu a { border-left: 0; border-top: 0; padding: 0 10px; text-decoration: none; height: 2.5em; line-height: 2.5em; color: #00b6ff; display: block; }
ul.sf-menu li { box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4); padding: 0px 15px !important; background-color: #1c1f21; border-right: 1px solid #33373b; }
ul.sf-menu li:hover, ul.sf-menu li.sfHover { outline: 0; background-color: #202020; }
ul.sf-menu li.last, ul.sf-menu li.firstandlast { border-right: none; }
ul.sf-menu a:focus, ul.sf-menu a:hover, ul.sf-menu a:active { outline: 0; }

/* Superfish blocks */
.block-superfish ul { margin: 0 !important; padding: 0 !important; }
.block-superfish li { margin: 0 !important; padding: 0 !important; }

/* Vertical style */
.sf-vertical { width: 100%; }
.sf-vertical li { width: 100%; }
.sf-vertical li:hover ul, .sf-vertical li.sfHover ul { left: 100%; top: 0; margin: 0; padding: 0; }
.sf-vertical li a { padding: 0 10px; }

/* Navbar style */
.sf-navbar { padding-bottom: 0 !important; }

/* Sensible padding for the default style */
.sf-menu.sf-style-default a { padding: 0 10px; }

/* ============================================================================= Menu Toggles ========================================================================== */
.at-mt .at-menu-toggle, .at-mt .at-menu-toggle ul, .at-mt .at-menu-toggle ul.menu { margin-top: 0; margin-bottom: 0; padding: 0; }
.at-mt .at-menu-toggle-button { margin: 0; }
.at-mt .at-menu-toggle ul a { padding: 0 10px; white-space: nowrap; }

/* ============================================================================= Menus, usually blocks ========================================================================== */
ul.menu { padding-left: 15px; }
ul.menu ul { padding-left: 15px; }
ul.menu li { margin: 0; }
ul.menu li a:active, ul.menu li a.active { color: rgba(255, 255, 255, 0.7); }
ul.menu li a:hover, ul.menu li a:focus { color: white; text-decoration: none; }

/* If li.content exists it's a problem, so reset the padding */
.block .menu li.content { padding: 0; }

/* ============================================================================= Book navigation menu ========================================================================== */
.book-navigation .page-up { /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */ min-width: 2em; white-space: nowrap; }
.book-navigation .menu { margin-left: 0; }

/* ============================================================================= Breadcrumbs ========================================================================== */
#breadcrumb { margin-bottom: 10px; /* If the label is set to show in theme settings the label class is added */ }
#breadcrumb .breadcrumb-label { font-size: 1em; display: inline; padding-right: 10px; }
#breadcrumb .breadcrumb-label:after { content: ":"; }
#breadcrumb ol { margin: 0; padding: 0; }
#breadcrumb .with-breadcrumb-label ol { display: inline; }
#breadcrumb li { list-style: none; display: inline; }

/* ============================================================================= Pagers ========================================================================== */
ul.pager { clear: both; margin: 0; text-align: center; }

.item-list ul.pager li { margin: 0; }

ul.pager li { background-image: none; display: inline; list-style-type: none; padding: .5em; }
ul.pager li.pager-current { font-weight: 700; }

.block ul.pager li { margin: 0; }

/* Theme the various states of pager links */
/* ============================================================================= Skip Navigation ========================================================================== */
#skip-link { left: 50%; margin-left: -6.5em; margin-top: 0; padding: 0 0.5em; position: absolute; width: 12em; z-index: 50; }
#skip-link a { background: #444; background: rgba(0, 0, 0, 0.6); color: #202020; display: block; line-height: 2; padding: 0; text-align: center; text-decoration: none; }
#skip-link a:link, #skip-link a:visited { background: #444; background: rgba(0, 0, 0, 0.6); color: #202020; display: block; line-height: 2; padding: 0; text-align: center; text-decoration: none; }
#skip-link a:hover, #skip-link a:focus, #skip-link a:active { outline: 0; }

/* ============================================================================= Tabs (local tasks) ========================================================================== */
#tasks { margin-bottom: 15px; }

ul.primary { border-bottom-color: #cccccc; margin: 20px 0; padding: 0 0 0 5px; }
ul.primary li { display: block; float: left; margin: 0 1px -1px; }
ul.primary li a { background-color: rgba(245, 245, 245, 0.3); border-color: #cccccc; margin-right: 1px; padding: 0 10px; display: block; float: left; height: 1.5em; line-height: 1.5em; color: #00b6ff; }
ul.primary li a:hover, ul.primary li a:focus { background-color: rgba(238, 238, 238, 0.5); border-color: #cccccc; }
ul.primary li.active a, ul.primary li.active a:hover, ul.primary li.active a:focus { background-color: #202020; border-bottom-color: #202020; color: white; font-weight: bold; }

ul.secondary { border-bottom: 1px solid #cccccc; margin: 1em 0 0; padding: 0 .3em 1em; }
ul.secondary li { border-right: 0; list-style: none; padding: 0 10px 0 0; }
ul.secondary li a:hover, ul.secondary li a.active { border-bottom: none; text-decoration: underline; }

/* ============================================================================= Action links ========================================================================== */
ul.action-links { margin: 20px 0 0; list-style: none; }

/* ============================================================================= Field Styling ========================================================================== */
/* Wrapper for any field */
/* Above and inline classes are on the field wrapper */
/* When labels are set to inline in field display settings the clearfix class is automatically added */
.field-label-inline { /* Remove the margin on inline field lables to preserve vertical formatting */ }
.field-label-inline .field-label { margin: 0; }

/* Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues */
.field-label { font-size: 1em; font-weight: 700; font-family: inherit; line-height: inherit; margin-bottom: 0; }

/* Field types (Core) */
/* Image fields use the <figure> and <figcaption> elements from HTML5 */
/* Taxonomy */
.field-type-taxonomy-term-reference { /* The same bottom margin as p, blockquote, ul, ol and dl */ margin-bottom: 1.5em; }
.field-type-taxonomy-term-reference.field-label-inline .field-items { margin: 0; padding: 0; }
.field-type-taxonomy-term-reference.field-label-inline .field-item { display: inline; list-style: none; padding: 0 10px 0 0; }

/* Text */
/* Long text */
/* Text with summary */
/* File */
/* Number/Integer */
/* Decimal */
/* Number float */
/* List */
/* List boolean */
/* List integer */
/* List float */
/* Field types (Contrib) */
/* Named fields */
/* Underscores in field name are replaced with dashes */
/* Image Alignment Theme Settings - included here so you can easily override */
/* Float none setting */
/* Float left setting */
.ia-l .field-type-image figure, .iat-l .field-type-image figure { margin: 5px 20px 15px 0; }

/* Centered setting */
.ia-c .field-type-image figure, .iat-c .field-type-image figure { margin: 5px auto 15px; }

/* Float right setting */
.ia-r .field-type-image figure, .iat-r .field-type-image figure { margin: 5px 0 15px 20px; }

/* ============================================================================= Block Styling ========================================================================== */
/* Main wrapper for most blocks, block_system_main does not have it */
.region-inner > .block { background: rgba(255, 255, 255, 0.05); box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.07); box-sizing: border-box; }

.block { margin-bottom: 20px; }

/* Inner wrapper for most blocks, good for margin, padding and borders, block_system_main does not have it */
.block-inner { padding-top: 9px; }

/* The first block in the region */
/* The last block in the region */
/* Zebra striping for each block in the region */
/* Zebra striping for each block in the region */
/* Block title */
.block-title { margin: 0; }

/* Block content wrapper */
/* Match item list and block menu margin and padding */
.block-content ul, .block-content ol { padding: 0 0 0 15px; }
.block-content li { margin: 0; padding: 0; }

/* Block for the latest news items in the first category */
/* Block for the latest news items in the first feed */
/* First block created with "Add block" link */
/* "Recent blog posts" block */
/* "Book navigation" block for the current book's table of contents */
/* "Recent comments" block */
/* "Active forum topics" block */
/* "New forum topics" block */
/* Language switcher block */
/* Custom menu block */
/* "Recent content" block */
/* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
/* "Most recent poll" block */
/* "Author information" block for the profile of the page's author */
/* "Search form" block */
/* "Shortcuts" block */
/* "Popular content" block */
/* "Main menu" block */
/* "Management" block for Drupal management menu */
/* "Navigation" block for Drupal navigation menu */
/* "User menu" block for Drupal user menu */
/* "System help" block */
/* "Main page content" block */
/* "Powered by Drupal" block */
/* "User login form" block */
/* "Who's new" block for a list of the newest users */
/* "Who's online" block for a list of the online users */
/* ============================================================================= Node Styling ========================================================================== */
.node { margin-bottom: 20px; }
.node .node-title { margin: 0 0 10px; }

/* All nodes are given a node-FOO class that describes the type of content that it is. If you create a new content type called "my-custom-type", it will receive a "node-my-custom-type" class. */
/* ============================================================================= Comment Styling - Comments, comment wrapper, comment form ========================================================================== */
/* Wrapper for the list of comments and its titles */
#comments { margin: 1.5em 0; }
#comments h2.comment-title { margin: 0; }
#comments h2.comment-form { margin: 0; }

/* Wrapper for a single comment */
.comment { margin-bottom: 20px; }

/* Comment title */
.comment-title { margin: 0; }

/* Comment states */
/* Preview of the comment before submitting new or updated comment */
/* "New" marker for comments that are new for the current user */
.new { color: #cc0000; }

/* Nested comments are indented */
.indented { margin-left: 40px; }

/* ============================================================================= Forms ========================================================================== */
/* Wrapper for a form element (or group of form elements) and its label */
.form-item input.error, .form-item textarea.error, .form-item select.error { border: 1px solid #cc0000; }
.form-item label { font-weight: 700; }
.form-item .description { font-size: 0.85em; }

/* Highlight marks and form required mark */
.marker, .form-required { color: #cc0000; }

/* The submit button */
button, input[type="button"], input[type="reset"], input[type="submit"] { border: none; color: white; background-color: #098CC8; background-image: linear-gradient(to bottom, #0f9ada, #0076ad); transition: background-color 0.2s ease 0s; margin: 0 10px 10px 0; }

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover { background-color: #21B0F1; background-image: linear-gradient(to bottom, #37c0ff, #0097dd); }

.container-inline div, .container-inline label { display: inline; }

/* Define consistent borders */
fieldset { border: 1px solid #cccccc; }

/* Tips for Drupal's input formats */
/* Buttons used by contrib modules like Media */
a.button { -webkit-appearance: button; -moz-appearance: button; appearance: button; }

/* Password confirmation */
.password-parent, .confirm-parent { margin: 0; }

/* ============================================================================= Tables ========================================================================== */
table { margin: 10px 0; padding: 0; width: 100%; }
table.sticky-header { z-index: 10; }

table, thead, tbody, tr, th, td { box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.07) inset; box-sizing: border-box; }

table, td, th { vertical-align: middle; }

caption, th, td { text-align: left; }

thead tr { font-weight: 700; background-color: rgba(229, 229, 229, 0.6); }

td, th { border-bottom: 0; margin: 0; padding: 5px 7px; }

tbody tr { border-top: 1px solid #cccccc; }

tr { /* Table row striping */ }
tr.info, tr.even, tr:nth-child(2n+2) { border-bottom: 0; background-color: rgba(245, 245, 245, 0.3); }
tr.odd { background-color: rgba(32, 32, 32, 0.7); }
tr.odd td.active { background-color: rgba(238, 238, 238, 0.5); }
tr.even td.active { background-color: #ebebeb; }

/* Forum tables Core sets white-space to nowrap, which makes no sense */
#forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager { white-space: normal; }

/* ============================================================================= Messages ========================================================================== */
div.messages { margin-bottom: 10px; margin-top: 10px; }
div.messages ul { margin-top: 0; margin-bottom: 0; }

/* Unpublished nodes */
.node-unpublished p.unpublished, .comment-unpublished p.unpublished { color: pink; color: rgba(239, 170, 170, 0.4); font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif; font-size: 50px; font-weight: 700; line-height: 1.2; height: 0; margin: 0; padding: 0; overflow: visible; text-align: center; text-transform: uppercase; word-wrap: break-word; }
.ie6-7 .node-unpublished p.unpublished > *, .ie6-7 .comment-unpublished p.unpublished > * { position: relative; }

/* ============================================================================= Maintenance pages ========================================================================== */
.maintenance-page .container { padding: 40px 0; }
.maintenance-page #site-name, .maintenance-page #page-title { margin: 0; }

.db-offline .container { margin: 0 auto; padding: 40px 0; width: 100%; max-width: 960px; }
.db-offline div.messages { margin: 20px 0 0; }
.db-offline #content { padding: 20px 0; }

/* ============================================================================= Misc overrides for contrib modules ========================================================================== */
/* Admin menu overrides */
#admin-menu { margin: 0; padding: 0; }

/* Devel Module */
.dev-query { background: rgba(238, 238, 238, 0.5); padding: 30px; }

/* Styleguide module tweaks */
#styleguide-header { padding: 0 10px; }
#styleguide-header .item-list { font-family: inherit; margin: 0 20px 20px 0; min-height: 260px; width: auto; }

.views-display-column a:hover, .vertical-tab-button a:hover, .ctools-content li input { color: #111111; }

.block-list ul { list-style: none; }
